* {
  box-sizing: border-box;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
heading {
	margin-bottom:15px;

}
.beige{
	background-color: beige;
}
.bisque{
	background-color: bisque;
}
.lightblue{
	background-color: lightblue;
}
/********** Large devices only **********/
@media (min-width: 992px) {
	.large {
		width: 33.33%;
		float:left;
	}
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.medium {
		width: 50%;
		float:left;
	}

}
/********** Small devices only **********/
@media (max-width: 767px) {
	.small{
		width: 100%;
		float:left;
	}

}