/* common css*/
* {
  box-sizing: border-box;
}
body {
	margin:0;
	font-family: arial,sans-serif;
}
h2 {
	margin-bottom:15px;
	text-align: right;
	border: 1px solid black;
}
h1{
	text-align:center;
	font-size:1.75em;
}
.beige{
	background-color: beige;
}
.bisque{
	background-color: bisque;
}
.lightblue{
	background-color: lightblue;
}
.pink{
	background-color: pink;
}
.lightgreen {
	background-color: lightgreen;
}
.lightyellow {
	background-color: lightyellow;
}
.sectiontitle{
	border: 1px solid black;
    position: absolute;
    font-size: 1.25em;
    font-weight: bold;
    right: 15px;
}
section {
	position:relative;
	width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right:15px;
 
  margin-bottom:15px;
}
.sectioncontent{
    border: 1px solid black;
    height: 200px;
}
section p,section ul,section dl{
	margin-top:50px;
	width: 90%;
    margin-right: auto;
    margin-left: auto;
}
section div span {
	padding-left: 10px;
	padding-right:10px;
}
/* Simple Responsive Framework. */
.row{
  margin-right:auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left:15px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
	.large {
		width: 33.33%;
		float:left;
	}
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.medium {
		width: 50%;
		float:left;
	}
	.mediumlarge{
		width:100%;
		float:left;
	}

}
/********** Small devices only **********/
@media (max-width: 767px) {
	.small{
		width: 100%;
		float:left;
	}

}